/*=====================================================
7. wpo-service-single
======================================================*/
.wpo-service-single-area {
    .wpo-service-single-wrap {
        .wpo-service-single-title {
            h3 {
                font-weight: 700;
                font-size: 36px;
                line-height: 55px;
                margin-bottom: 20px;

                @media(max-width:767px) {
                    font-size: 25px;
                    line-height: 35px;
                    margin-bottom: 15px;
                }
            }
        }

        .wpo-service-single-item {
            margin-bottom: 40px;

            .wpo-service-single-main-img {
                margin-bottom: 30px;
            }

        }

        .wpo-service-single-item {
            .why-choose-wrap {
                position: relative;
                max-width: 1130px;
                background: $theme-primary-color-s2;
                margin: 0 auto;
                padding: 60px 80px 20px;
                padding-right: 60px;
                overflow: hidden;
                z-index: 1;

                @media(max-width:1199px) {
                    padding: 30px 30px 0px;
                }

                @media(max-width:991px) {
                    flex-wrap: wrap;
                    padding: 30px 20px 0px;
                }

                .v-shape {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    z-index: -1;

                    img {
                        width: 100%;
                    }
                }

                .why-choose-left {
                    position: relative;
                    margin-bottom: 40px;

                    @media(max-width:991px) {
                        padding-right: 0;
                    }

                    h2 {
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 60px;
                        color: $white;
                        margin-bottom: 10px;

                        @media(max-width:1199px) {
                            font-size: 40px;
                            line-height: 55px;
                        }

                        @media(max-width:991px) {
                            font-size: 30px;
                            line-height: 45px;
                        }

                        @media(max-width:575px) {
                            font-size: 25px;
                            line-height: 35px;
                        }
                    }

                    p {
                        color: $white;
                    }
                }

                .why-choose-right {
                    @media(max-width:991px) {
                        margin-top: 10px;
                    }
                }

                .wpo-choose-check-wrap {
                    display: flex;
                    flex-wrap: wrap;

                    @media(max-width:575px) {
                        align-items: center;
                    }

                    .wpo-choose-check-item {
                        padding-left: 60px;
                        position: relative;
                        flex-basis: 50%;
                        margin-bottom: 40px;
                        padding-right: 20px;

                        @media(max-width:575px) {
                            flex-basis: 100%;
                            margin-bottom: 20px;
                            padding-right: 0;
                            max-width: 350px;
                        }

                        &:before {
                            position: absolute;
                            left: 0;
                            top: 5px;
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            background: $theme-primary-color;
                            content: "\e64c";
                            font-family: 'themify';
                            text-align: center;
                            color: $white;
                        }

                        p {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 26px;
                            color: $white;
                            margin-bottom: 0;

                            @media(max-width:1199px) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            .service-video-wrap {
                margin-top: 40px;
                position: relative;

                img{
                    @media(max-width:767px){
                       min-height: 200px;
                       object-fit: cover;
                    } 
                }

                .video-btn {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    @include center-by-translating();
                    width: 63px;
                    height: 63px;
                    line-height: 63px;
                    background: $theme-primary-color;
                    border-radius: 50%;
                    z-index: 1;
                    display: block;
                    text-align: center;
                    color: $white;

                    &:after {
                        position: absolute;
                        left: -12px;
                        top: -12px;
                        width: 140%;
                        height: 140%;
                        background: transparentize($theme-primary-color, .5);
                        content: "";
                        -webkit-animation: spineer 2s infinite;
                        animation: spineer 2s infinite;
                        border-radius: 50%;
                        z-index: -1;
                    }

                    @-webkit-keyframes spineer {
                        from {
                            box-shadow: 0 0 0 0 rgba(255, 112, 99, 0.99);
                        }

                        to {
                            box-shadow: 0 0 0 45px rgba(255, 112, 99, 0.01);
                        }
                    }

                    @keyframes spineer {
                        from {
                            box-shadow: 0 0 0 0 rgba(255, 112, 99, 0.99);
                        }

                        to {
                            box-shadow: 0 0 0 45px rgba(255, 112, 99, 0.01);
                        }
                    }
                }
            }
        }

    }
}